<div nz-row class="login-main">
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="16">
        <nz-card style="margin: 25% 0px;" [nzTitle]="extraTemplate">
           <h5 style="text-align: center;">Thanks for your contribution</h5>
           <div style="text-align: center;">
            <button (click)="goto()" nz-button nzType="default">Welcome again!</button>
           </div>
          
        </nz-card>
        <ng-template #extraTemplate>
            <h5 style="text-align: center;">Jai Sree ram</h5>
        </ng-template>
    </div>
    <div nz-col nzSpan="4"></div>
</div>