<!-- <div class="container ">
    <div class="col-9 fluid-container m-auto">
        <form class="row g-9" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="col-md-6">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="John Doe">                
                    <div *ngIf="!submitted && f.name.errors && f.name.errors.required">Assigned Group</div>
            </div>
            <div class="col-md-6">
                <label  class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="johnde@email.com">
            </div>
            <div class="col-12">
                <label  class="form-label">Phone Number</label>
                <input type="tel" class="form-control"  formControlName="phoneNumber" placeholder="(+91)785-547-526">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</div>
 -->
<app-login></app-login>